@import "../../variables";

#logo {
  height: 50%;
  width: auto;
  margin-bottom: 100px;
}

#about {
  background-color: $primary-green;
  background-size: 50%;
  background-position: bottom left;
  color: $background-white;
}
#features {
  background-color: $tertiary-grey;
  color: $text-color-secondary;
}

.home_parallax_layer {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: bottom center;
  background-size: contain;
}
.other_parallax_layer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: bottom center;
  background-size: contain;
}
