@import "../../variables";

input[type=text], input[type=password] {
    height: 58px;
    width: 484px;
    padding: 12px 20px;
    margin: 13px 0;
    border-radius: 20px;
    box-sizing: border-box;    
}

#admin-login{
    column-gap: 270px;
}

#login-card{
    width: 594px;
    height: auto;
    min-height: 260px;
    padding: 10px;
    object-fit: contain;
    background-color: $primary-red;
    border-radius: 30px;
}

#lgn-btn{
    padding: 12px 20px;
    margin: 13px 0;
    width: 484px;
    height: 57px;
    border-radius: 15px;
    background-color: $secondary-red;
    color: white;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
}

footer{
    position: absolute;
    bottom: 0;
}

footer ul{
    padding: 0;
}

footer li{
    column-gap: 20px;
}

#f-lists h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 45px;

    color: white;
}

#f-lists img{
    height: 45px;
    width: 45px;
}

#trashbin-dashboard{
    height: 100px;
}

#trashbin-dashboard h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;

    margin: 0;
    color: white;
}

#trashbin-dashboard p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

#table{
    margin-top: 10px;
}

#table-list{
    list-style-type: none;
    margin: 0;
    padding: 0;

    background-color: #7A0000;
    border-radius: 15px 15px 0px 0px;
    width: 1500px;
    height: 70px;   
}

#lists{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: white;
}

#table-content{
    position: relative;
    background-color: white;
    height: 500px;
    width: 1492px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);

    overflow-y: scroll;
}

#nav-bar{
    width: 100%;
    height: 100px;
    background-color: white;

    box-shadow: 0 6px 10px -2px gray;
}

#nav-bar h1{
    color: black;
    margin: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
}

.cstm-shadow{
    box-shadow: 1px 5px 7px rgba(44, 44, 44, 0.63);
}

#highest{
    text-align: center;
    width: 385px;
    height: 137px;

    border-right: solid;
    border-width: 1px;
    border-color: gray;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#lowest{
    text-align: center;
    width: 385px;
    height: 137px;

}

#average{
    text-align: center;
    width: 385px;
    height: 137px;

    border-left: solid;
    border-width: 1px;
    border-color: gray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#waste-generated{
    max-width: 750px;
    max-height: 354px;
    border-radius: 15px;

    box-shadow: 0 6px 10px -2px gray;
}

#percentage-per-campus{
    max-height: 354px;
    max-width: 353px;
    border-radius: 15px;

    box-shadow: 0 6px 10px -2px gray;
}

.chart-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
}

#nav-bar1{
    height: 48px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#nav-bar1 h1{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 27px;

    margin: 0;
}

#nav-bar2{
    height: 48px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#nav-bar2 h1{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 27px;

    white-space: nowrap;
    margin: 0;
}

#linechart{
    height: 306px;
}

#piechart{
    height: 305px;
}

@media only screen and (max-width: 1366px){
    #table-list{
        width: 1100px;
        height: 70px;
    }

    #table-content{
        width: 1092px;
        height: 500px;
    }
}

@media only screen and (max-width: 1280px){
    #admin-login{
        gap: 170px;
    }

    #table-list{
        width: 800px;
        height: 70px;
    }

    #table-content{
        width: 792px;
        height: 500px;
    }
}

@media only screen and (max-width: 1024px){

    #admin-login{
        flex-direction: column;
        gap: 70px;
    }

    #login-logo img{
        height: 160px;
        width: 180px;
    }

    #login-card{
        width: 276px;
        height: 229px;
        background-color: #7A0000;
        border-radius: 30px;
    }

    input[type=text], input[type=password] {
        height: 39.65px;
        width: 224.89px;
        padding: 12px 20px;
        margin: 13px 0;
        border-radius: 20px;
        box-sizing: border-box;    
    }

    #lgn-btn{
        padding: 12px 20px;
        margin: 13px 0;
        width: 224.89px;
        height: 38.96px;
        border-radius: 15px;
        background-color: #AE4642;
        color: white;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;
    
    }

    footer{
        display: none;
    }
}

#trash-status{
    height: 50px;
    width: 50px;

    background-color: yellow;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#trash-status1{
    height: 50px;
    width: 50px;


    background-color: green;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#trash-status2{
    height: 50px;
    width: 50px;

    background-color: red;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: black;    
}


#legend{
    padding: 13px 30px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    background-color: $primary-red;
    border-radius: 37px;
    color: white;

    position: absolute;
    z-index: 400;
    bottom: 20px;
    left: 30px;
}

#maps-navbar{
    position: absolute;
    z-index: 400;
    width: 100%;
    background-color: rgba(122, 0, 0, 0.75);

    height: 60px;
}

#map-navbar-list a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;

    color: white;
}

#search-location{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 29px;
    max-width: 400px;
    height: 33px;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

#search-button{
    height: 33px;
    width: 70px;
    font-size: 13px;
    align-items: center;
}

#legend .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: $primary-red;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    width: 508px;
    height: 178px;

}

#legend .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
  /* Toggle this class - hide and show the popup */
#legend .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#trash-percentage{
    margin-top: 24px;
}

#t-percentage{
    width: 161px;
    height: 35px;


    border-width: 3px 3px 3px 3px;
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
}
  
#t-percentage h1{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin: 0;

    color: black;
}

.custom-popup .leaflet-popup-content-wrapper {
    width: 400px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    background-color: #FFF4EE;
    margin: 0px;
    margin-top: 60px;
    margin-right: 60px;
}

#popup-content{
    width: 400px;
    height: 400px;
    position: relative;
    right: 22px;
    bottom: 0px;
}

#trashbin-id{
    margin-top: 17px;
    margin-left: 31px;
}

#trashbin-location{
    margin-top: 26px;
    margin-right: 50px;
}

#trashbin-id h1{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
}

#trashbin-location h1{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
}

#trash-weight{
    margin-top: 10px;
}

#trashbin-activity{
    margin-top: 10px;
}

#trashbin-activity h1{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

#trashbin-activity-chart{
    width: 380px;
    height: 175px;
    background-color: white;
}

#add-bin{
    width: 100px;
    background-color: $primary-red;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 370px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#popup-title{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#popup-title h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}

#tb-name{
    margin-top: 35px;
}

#tb-name h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
}

#tb-select{
    height: 40px;
    width: 300px;
    border-radius: 7px;
    border-color: $primary-red;
}

#tb-type{
    margin-top: 35px;
}

#tb-type h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
}

#tb-type-select{
    height: 40px;
    width: 300px;
    border-radius: 7px;
    border-color: $primary-red;
}

#tb-submit{
    height: 126px;
    width: 400px;
}

#tb-submit-btn{
    width: 140px;
    height: 45px;
    background-color: $primary-red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 6  00;
    font-size: 15px;
    color: white;
}

#auth-title{
    width: 1000px;
    height: 75px;
}

#auth-title h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    margin: 0;
}

#auth-card{
    background-color: $primary-red;
    width: 1000px;
    height: 570px;
    border-radius: 10px;
}

#email-search{
    height: 50px;
    width: 500px;
    border-radius: 10px;
}

#search-user{
    gap: 10px;
}

#auth-content{
    height: 85px;
    width: 1000px;
}

#add-user{
    background-color: white;
    color: black;
}

#user-lists{
    background-color: white;
    height: 450px;
    width: 950px;
    overflow-y: scroll;
}

#ac{
    width: 100%;
}

#addUserPopup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 400px;
    background-color: $primary-red;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#addUserPopupContent{
    width: 450px;
    height: 370px;
}

#email-input, #password-input{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    margin: 0;
}

#user-email h1, #user-password h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;

    color: white;
    margin: 0;
}

#addUser{
    color: $primary-red;
    background-color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    width: 120px;
}

#close-btn{
    width: 450px;
    padding: 10px;
}

#close-btn h1{
    font-weight: 700;
    font-size: 1.5rem;
    font-style: normal;
    margin: 0;
    color: white;
}

table{
    text-align: center;
    table-layout: fixed;
}

thead{
    display: table-row-group;
}

#table-1{
    margin-top: 30px;
}

#report-title{
    font-family: 'Times New Roman';
    font-size: 26pt;
    font-weight: bold;
}

#table-title h1{
    font-family: 'Times New Roman';
    font-size: 18pt;
    font-weight: bold;
}

#table-2{
    margin-top: 30px;
}

#table-3{
    margin-top: 30px;
}

#table-4{
    margin-top: 30px;
}

table td{
    vertical-align: center;
    border: 1px solid black;
}

table th{
    vertical-align: top;
}

table tr{
    border: 1px solid black;
}


#printPreview{
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    overflow-y: scroll;
}

#display-review{
    position: relative;
    bottom: 68px;
    z-index: -1;
}

#top-buttons{
    padding: 15px;
}

@page{
    size: auto;
    margin: 25mm 20mm 25mm 20mm;
}

@media print{
    #top-buttons{
        display: none !important;
    }
}